/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require railspress/application
 *= require_self
 */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
.navbar-brand {
    float: left;
}
#menu-top-menu li {
    vertical-align: top;
    display: inline-block;
    margin: 0 4px;
}
.nav-links > .nav-previous, .nav-links > .nav-next {
    display: inline-block;
    margin: 1em 3em;
}
footer.site-footer {
    border-top: 2px #d3d3d3 dashed;
    margin: 1em;
    padding: 1em 0;
}